extends layout.pug

block content
  h1 New Post
  form(method='POST', action='/')
    label(for='author') Name:
      input(type='text', placeholder="your name", name='author')
    label(for='title') Title:
      input(type='text', placeholder="blog title" name='title')
    label(for='body') Body:
      input(type='text', placeholder="blog body", name="body")
    button(type='submit') Submit Post